@use "../abstracts/variables";
@use "../abstracts/mixins";

#contact-1 {
  padding-top: 170px;
}
.c1-container {
  .top-title {
    text-align: center;
  }
  .contact-form {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 50px;
    font-family: "Open Sans";
    @media(max-width:900px){
      flex-direction: column;
      align-items: center;
    }
    .form-left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & *:not(:first-child) {
        margin-top: 15px;
      }
      .left-item {
        display: flex;
        gap: 25px;
        align-items: center;
        padding: 25px 20px;
        width: 420px;
        border: 1px solid rgba(36, 36, 36, 0.1);
        border-radius: 14px;
        @media(max-width:500px){
          width: 100% ;
        }
        i {
          font-size: 20px;
          padding: 20px 27px;
          border-radius: 50%;
          background: rgba(36, 36, 36, 0.05);
        }
        .content {
          h3 {
            font-weight: 600;
            font-size: 22px;
            line-height: 34px;
            color: $text;
            margin: 0;
            margin-top: -20px;
          }
          p {
            font-size: 14px;
            line-height: 19px;
            color: $text;
            opacity: 0.7;
            margin: 0;
            margin-top: 5px;
          }
        }
      }
    }
    .form-right {
      padding: 40px;
      border: 1px solid rgba(36, 36, 36, 0.1);
      border-radius: 14px;
      .right-content {
        h1 {
          font-weight: 600;
          font-size: 38px;
          line-height: 34px;
          color: $text;
        }
        p {
          font-size: 16px;
          line-height: 24px;
          color: $text;
          opacity: 0.7;
          max-width: 565px;
          margin-top: 16px;
        }
      }
      .right-form {
        margin-top: 40px;
        .right-input {
          display: flex;
          gap: 20px;
          width: 100%;
          .column {
            width: 50%;
            & input:not(:first-child) {
              margin-top: 15px;
            }
          }
          input {
            outline: none;
            border: 1px solid rgba(36, 36, 36, 0.1);
            padding: 20px;
            border-radius: 12px;
            width: 100%;
            &:focus {
              outline: 2px solid $primary-red;
            }
          }
          @media(max-width:500px){
            &{
              flex-direction: column;
            }
            .column{
              width: 100%;
            }
          }
        }
        textarea {
          width: 100%;
          margin-top: 15px;
          padding: 20px;
          max-height: 250px;
          min-height: 150px;
          border-radius: 12px;
          border: 1px solid rgba(36, 36, 36, 0.1);
          resize: vertical;
          &:focus {
            outline: 2px solid $primary-red;
          }
        }
        a {
          display: inline-block;
          transition: 0.4s;
          color: $white;
          padding: 18px 45px;
          background: #bb2339;
          border-radius: 39px;
          margin-top: 25px;
          font-weight: 600;
          font-size: 18px;
          &:hover {
            background-color: red;
            box-shadow: 5px 30px 50px -15px red;
          }
        }
      }
    }
  }
}

#contact-2{
  padding-top: 130px;
  .c2-container{
    padding: 0 50px;
    @media(max-width:600px){
      padding: 0;
    }
    h1{
      font-family: 'Cera Round Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 38px;
      line-height: 49px;
      text-align: center;
      letter-spacing: 0.03em;
      text-transform: capitalize;
      margin-bottom: 40px;
    }
    iframe{
      width: 100%;
      border-radius: 14px;
      @media(max-width:600px){
        height: 250px !important;
        border-radius: 0;
      }

    }
  }
}

